/.vscode/
/.mixin.out/
/.replay_cache/
/backups/
/config/jei/world/
/crash-reports/
/downloads/
/fancymenu_data/
/journeymap/
/kubejs/exported/
/kubejs/README.txt
/kubejs/TODO.txt
/local/
/logs/
/modernfix/
/moddata/
/mods/
/patchouli_books/
/replay_recordings/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/simplebackups/
/.curseclient
/command_history.txt
/minecraftinstance.json
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/realms_persistence.json
/user-prefs.json
/usercache.json
/usernamecache.json