/.vscode/
/backups/
/config/jei/world/
/crash-reports/
/downloads/
/journeymap/
/kubejs/exported/
/kubejs/README.txt
/kubejs/TODO.txt
/local/
/logs/
/modernfix/
/moddata/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/schematics/uploaded/
/screenshots/
/shaderpacks/
/.curseclient
/command_history.txt
/minecraftinstance.json
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/realms_persistence.json
/user-prefs.json
/usercache.json
/usernamecache.json